langchain
langchain_core
langchain-community==0.2.17
langchain_google_genai
youtube-transcript-api==0.6.1
google-cloud-secret-manager
google-api-python-client
google-auth-oauthlib
google.generativeai
beautifulsoup4
llmsherpa
loguru
fastapi
uvicorn[standard]
tiktoken
Pillow
line-bot-sdk==3.13.0