langchain
langchain_core
langchain-community
langchain_google_genai
google.generativeai
beautifulsoup4
llmsherpa
fastapi
tiktoken
Pillow
line-bot-sdk==3.14.0
uvicorn[standard]
markdownify
httpx
urllib3
cloudscraper
pypdf
firecrawl